@import '/src/vars.scss';
.dropdown {
  position: relative;
  z-index: 100;

  button {
    cursor: pointer;
  }

  .menu {
    position: absolute;
    width: max-content;
    background-color: $background-select;
    left: 100%;
    top: -70%;
    border-radius: 5%;
    z-index: 999;
    font-size: 8px;

    li {
      padding: 2px 5px;
    }

    li:not(:last-child) {
      border-bottom: 1px solid black;
    }

    li:hover {
      background-color: $stroke-gray;
      color: $text-white;
    }
  }
}
