@import '/src/vars.scss';

.header {
  margin-left: 10px;
  margin-right: 10px;
  border-collapse: collapse;
  width: 100%;

  .row {
    display: grid;
    grid-template-columns: auto minmax(200px, 1fr) repeat(4, 200px);
    height: $row-hight;
    padding-left: 12px;
  }

  th {
    color: $text-gray;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

}
