@import '/src/vars.scss';

.input {
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background-color: $stroke-gray;
  border-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
  border: 1px solid $background-label;
  border-radius: 6px;

  &:required:invalid {
    border: 1px solid $input-invalid;
  }
}
