@import '/src/vars.scss';
.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  .vertical {
    position: absolute;
    width: 1px;
    background-color: $connection-line-gray;
    bottom: 12px;
    left: -12px;
  }

  .horizontal {
    position: absolute;
    height: 1px;
    background-color: $connection-line-gray;
    left: -12px;
    z-index: 1;
  }

  span {
    position: absolute;
    font-weight: 600;
    top: 5px;
    font-size: 10px;
    color: $background-dark;
  }
}
