@import '/src/vars.scss';
.icon {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  z-index: 3;

  .folder {
    display: flex;
    background-color: transparent;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .wrapper {
   position: relative;
    span {
      cursor: pointer;
      position: absolute;
      font-weight: 600;
      top: 50%;
      font-size: 10px;
      left: 50%;
      color: $background-dark;
      transform: translate(-50%, -50%);
    }
    svg {
      cursor: pointer;
    }
  }
  .folder:hover {
    background-color: $background-label;
  }

  .button {
    opacity: 0;
  }

  .folder:hover .button {
    opacity: 1;
  }
}
