$background-dark: rgba(32, 33, 36, 1);
$text-white: rgba(255, 255, 255, 1);
$text-gray: rgba(161, 161, 170, 1);
$stroke-gray: rgba(65, 65, 68, 1);
$background-navbar: rgba(39, 39, 42, 1);
$background-select: rgba(161, 161, 170, 1);
$input-invalid: red;

$header-hight: 44px;
