@import '/src/vars.scss';
.children {
  position: relative;

  .row {
    display: grid;
    grid-template-columns: auto minmax(200px, 1fr) repeat(4, minmax(100px, 200px));
    height: $row-hight;
    padding-left: 12px;
    border-top: 1px solid $stroke-gray;
    z-index: 0;
  }
}
